.recipe-detail-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px; /* Added some padding for better spacing */
  font-style: italic;
  background-color: beige;
}

.recipe-detail-page .recipe-content {
  max-width: 800px;
  margin: 20px; /* Added margin for spacing */
  text-align: left;
  font-style: italic;
  background-color: beige;
  padding: 20px; /* Added padding inside content */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.recipe-detail-page .detailtitle{
  color: red;
  font-size: 1.5em; /* Adjusted font size */
  font-weight: bold;
}

.recipe-detail-page .recipe-content h2 {
  margin: 0 0 0; /* Margin for spacing around the headings */
  font-size: 1.5em; /* Adjusted font size */
  font-weight: bold; /* Bold font */
  color: #333; /* Darker text color for better readability */
  border-bottom: 2px solid #ccc; /* Border for visual separation */
  padding-bottom: 5px; /* Padding below the text */
  font-style: normal; /* Remove italic style for headings */
}

.ingredients-image-container {
  display: flex;
  gap: 20px; /* Adds space between the columns */
}

.recipe-image-container {
  flex: 1; /* Flex-grow to fill the space */
}

.recipe-image {
    width: 200px; 
    height: auto;
    border-radius: 5px; 
    margin-top: 10rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ingredients-container {
  flex: 2; /* Flex-grow to fill the space */
}

  
  .recipe-content ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    font-style: italic;
    background-color: beige;
  }
  
  .recipe-content ul li {
    margin: 5px 0;
    font-style: italic;
    background-color: beige;
  }
  
  .recipe-content p {
    margin: 20px 0;
    max-width: 800px;
    font-style: italic;
    background-color: beige;
  }
  .body{
    background-color: beige;
    }

/* Style for the button container */
.button-container {
  margin-right: 50px;
  margin-top: 0;
}

/* Style for the button */

.button {
  --bg: #000;
  --hover-bg: #ff8c00;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  /* border-radius: 4px; */
  padding: 0.5em 1em;
  background: var(--bg);
  transition: 0.2s;
  /* max-width: 90%; */
  
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}