.recipe-detail-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-style: italic;
    background-color: beige;
  }
  
  .recipe-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    font-style: italic;
    background-color: beige;
  
  }
  
  .recipe-content h1,
  .recipe-content h2 {
    margin: 10px 0;
    font-style: italic;
    background-color: beige;
  }
  
  .recipe-image {
    float: left;
    margin-right: 20px;
    width: 150px; 
    height: auto;
    font-style: italic;
    background-color: beige;
  }
  
  .recipe-content ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    font-style: italic;
    background-color: beige;
  }
  
  .recipe-content ul li {
    margin: 5px 0;
    font-style: italic;
    background-color: beige;
  }
  
  .recipe-content p {
    margin: 20px 0;
    max-width: 800px;
    font-style: italic;
    background-color: beige;
  }
  .body{
    background-color: beige;
    }

/* Style for the button container */
.button-container {
  margin-left: 100px;
}

/* Style for the button */

.button {
  --bg: #000;
  --hover-bg: #ff8c00;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
  max-width: 90%;
  margin-bottom: 100px;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}