@import url('https://fonts.googleapis.com/css2?family=Devonshire&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
    text-shadow: 
      0 0 5px rgba(255, 255, 255, 0.8),
      0 0 10px rgba(77, 76, 76, 0.6),
      0 0 15px rgba(255, 255, 255, 0.4),
      0 0 20px rgba(255, 255, 255, 0.2);
  }

@layer components {
  .primary-btn {
    @apply inline-block bg-fourthColor text-white cursor-pointer
    hover:bg-fourthColor/80 py-2 px-4 my-3 rounded-lg;
  }

  .page-shadow {
    @apply shadow-[inset_0_0_8px_rgba(12,20,14,0.9)];
  }
}

.book-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px; /* Adjust as needed */
}



